# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
test_models.py

# Documentation
documentation.txt
deployment_docs.md
prompt.md
speedtest.js
